.calculator {
  margin: 10px;
}

.screen {
  display: grid;
  gap: 2px;
  width: 350px;
  margin-bottom: 10px;
  border: 2px solid #999;
  box-shadow: 2px 2px 2px #999;
}

.screen-cell {
  font-family: monospace;
  font-weight: 500;
  font-size: 24px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 30px;
}

.repl {
  display: flex;
  width: 354px;
  font-family: monospace;
  font-weight: 500;
  font-size: 12px;
  background-color: #fafafa;
}

.repl input {
  flex: 1;
  margin-right: 10px;
}
