@font-face {
  font-family: "ti-83-plus-large";
  src: local("ti-83-plus-large"), url("./fonts/ti-83-plus-large.ttf") format("truetype");
}

.calculator {
  margin: 10px;
  width: 420px;
  height: 276px;
}

.screen {
  display: grid;
  gap: 0;
  width: calc(16 * 26px);
  border: 2px solid #999;
  box-shadow: 2px 2px 2px #999;
}

.screen-cell {
  font-family: "ti-83-plus-large", monospace;
  font-weight: 500;
  font-size: 24px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 34px;
}

.screen-cell.inverted {
  background-color: #333;
  color: white;
}
